
    <div>
        <img height="200"  class="productimg" src= "/../assets/images/{{SelectedProduct.img}}">
    </div>
    <div class="info">
    <p class="productname">{{SelectedProduct.name}}<br></p>
    <p class="category"><a class="bold">Category: </a>{{SelectedProduct.category}}<br><p class="Availability"><a class="bold">Availability: </a>In Stock</p></p>
    <p class="productdescription"><a class="bold">Publisher: </a>{{SelectedProduct.publisher}}</p>
    <p class="productdescription"><a class="bold">Author/s: </a>{{SelectedProduct.authors}}</p>
    <p class="productdescription"><a class="bold">Quantity: </a>{{SelectedProduct.Quantity}}</p>
    <p>________________________________________________________________</p>
    <div>
    <p class="price"><a class="bold">Price: </a>{{SelectedProduct.price}} LE</p>
    <button  class="cart" (click)="AddProduct()">Add to Cart</button>
    <a *ngIf="ismanager==1">
    <button  class="cart" routerLink="/editbook">Edit</button>
    <button  class="cart" (click)="delete()" >Delete</button>
    <span id="outofstock2"  class="tooltiptext">Out Of Stock</span>
   </a>




    
  
   