<body>
    <div class="form-box">
        <form action method="post" #uploadForm="ngForm">

            <h1><strong>Promote User</strong></h1>
            <div class="form-group">
                <label for="email" style="font-weight: 600; font-size:large ;">Email</label>
                <input id="email" type="text" name="email" id="email" class="form-controll"  userEmail required />
            </div>


            <div class="form-groupp">
                <button type="submit" class="btn btn-success" (click)='submit()'>Promote</button>
            </div>

            <router-outlet></router-outlet>
        </form>



        <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet'
            type='text/css'>

        <!--<a  class="back-to-article" target="_blank" routerLink="/home">back to Home</a>-->
        <a class="back-to-article" style="font-weight: 600; font-size:large ; " routerLink="/user" (click)="goback()">Back To Home</a>

    </div>
</body>