.notify{
    position: relative;
    top: 150px;
    font-size: larger;
    left: 20px;
   
}
.neworder{
    border-top: none;
    border-left: none;
    border-right: none;
    font-size: xx-large;
    background-color: white;
    border-bottom: 3px solid rgb(21, 189, 169);
    color: gray;
}

.orders{
    position: relative;
    top: 170px;
    left: 20px;
    font-size: x-large;
    color: gray;
    border-top: none;
    border-left: none;
    border-right: none;
    background-color: white;
    height: 50px;

    border-bottom: 1px solid gray ;
}
.quantity{
    position: relative;
    left: 250px;
    top: -70px;
}
.confirm{
    
    border-radius: 10px;
    background-color: white;
    border-color:rgb(21, 189, 169) ;
}
.confirm:hover{
    background-color:rgb(21, 189, 169) ;
}
.title{
    color: red;
}
