<body>
    <div class="form-box">
        <form action method="post" #uploadForm="ngForm">

            <h1><strong>Add Book</strong></h1>
            <div class="form-group">
                <label for="isbn" style="font-weight: 600; font-size:large ;">ISBN</label>
                <input type="text" name="isbn" id="isbn" class="form-controll" [(ngModel)]="uploadItem.isbn" required />
            </div>

            <div class="form-group">
                <label for="title" style="font-weight: 600; font-size:large ;">Title </label>
                <input type="text" name="title" id="title" class="form-controll" [(ngModel)]="uploadItem.title"
                    required />
            </div>
            <div class="form-group">
                <label for="Publisher" style="font-weight: 600; font-size:large ;">Publisher</label>
                <input type="text" name="Publisher" id="Publisher" class="form-controll"
                    [(ngModel)]="uploadItem.publisherName" required />
            </div>

            <div class="form-groupp">
                <button type="submit" class="btn btn-success" routerLink='/publisherform'>Add a New Publisher</button>
            </div>
            <div class="form-group">
                <label for="authors" style="font-weight: 600; font-size:large ;">Author(s) </label>
                <input type="text" name="authors" id="authors" class="form-controll" [(ngModel)]="uploadItem.authors"
                    required />
            </div>
            <div class="form-group">
                <label for="pubyear" style="font-weight: 600; font-size:large ;">Publishing Year </label>
                <input type="text" name="pubyear" id="pubyear" class="form-controll" [(ngModel)]="uploadItem.publicationYear"
                    required />
            </div>
            <div class="form-group">
                <label for="threshold" style="font-weight: 600; font-size:large ;">Threshold</label>
                <input type="number" name="threshold" id="threshold" class="form-controll"
                    [(ngModel)]="uploadItem.threshold" required />
            </div>
            <div class="form-group">
                <label for="quantity" style="font-weight: 600; font-size:large ;">Quantity</label>
                <input type="number" name="quantity" id="quantity" class="form-controll"
                    [(ngModel)]="uploadItem.stockQuantity" required />
            </div>
            <div class="form-group">
                <label for="category" style="font-weight: 600; font-size:large ;"><strong>Category</strong></label>
                <select class="form-controll" [(ngModel)]="categoryName" name="caption" id="caption" required>
                    <option *ngFor="let category of categories" [value]="category">{{category}}</option>
                </select>
            </div>
            <div class="form-group">
                <label for="price" style="font-weight: 600; font-size:large ;">Price <span>in Egyption
                        pound</span></label>
                <input type="number" name="price" id="price" class="form-controll" [(ngModel)]="uploadItem.price"
                    required />
            </div>

            <div class="form-groupp file-area">
                <input for="images" type="button" value="Upload Cover Photo">
                <input id="images" type="file" class="form-control" (change)="onFileChange($event)">
            </div>

            <div class="form-groupp">
                <img [src]="imageSrc" *ngIf="imageSrc" style="height:auto">
            </div>

            <div class="form-groupp">
                <button type="submit" (click)='onSubmit()' class="btn btn-success">Add Book</button>
            </div>




            <router-outlet></router-outlet>
        </form>



        <link href='https://fonts.googleapis.com/css?family=Lato:100,200,300,400,500,600,700' rel='stylesheet'
            type='text/css'>

        <!--<a  class="back-to-article" target="_blank" routerLink="/home">back to Home</a>-->
        <a class="back-to-article" style="font-weight: 600; font-size:large ;" routerLink="/user" (click)="goback()">Back To Home</a>

    </div>
</body>
